In [0]:
valuesA = [('Pirate', 1), ('Monkey', 2), ('Ninja', 3), ('Spaghetti', 4)]
TableA = spark.createDataFrame(valuesA, ['name', 'id'])

valuesB = [('Ritabaga', 1), ('Pirate', 2), ('Ninja', 3), ('Darth Vader', 4)]
TableB = spark.createDataFrame(valuesB, ['name', 'id'])

TableA.show()
TableB.show()

In [0]:
ta = TableA.alias('ta')
tb = TableB.alias('tb')

inner_join = ta.join(tb, ta.name == tb.name)
inner_join.show()

In [0]:
left_join = ta.join(tb, ta.name == tb.name, how='left')
left_join.show()

In [0]:
from pyspark.sql.functions import col
left_join = ta.join(tb, ta.name == tb.name, how='left')
left_join.filter(col('tb.name').isNull()).show()

In [0]:
right_join = ta.join(tb, ta.name == tb.name, how='right')
right_join.show()

In [0]:
full_outer_join = ta.join(tb, ta.name == tb.name, how='full')
full_outer_join.show()

In [0]:
llist = [('bob', '2015-01-13', 4), ('alice', '2015-04-13', 10)]
left = spark.createDataFrame(llist, ['name', 'date', 'duration'])
right = spark.createDataFrame([('alice', 100), ('bob', 23)], ['name', 'upload'])

df = left.join(right, left.name == right.name)
display(df)

name,date,duration,name,upload
alice,2015-04-13,10,alice,100
bob,2015-01-13,4,bob,23

In [0]:
df = left.join(right, ['name'])
display(df)

name,date,duration,upload
alice,2015-04-13,10,100
bob,2015-01-13,4,23

In [0]:
peopleDF = spark.read.parquet("/FileStore/tables/people-10m.parquet")
peopleDF.show(1)
ssaDF = spark.read.parquet("/FileStore/tables/people-10m.parquet")
ssaDF.show(1)

In [0]:
from pyspark.sql.functions import avg
avgSalaryDF = peopleDF.select(avg("salary").alias("averageSalary"))
avgSalaryDF.show()

In [0]:
from pyspark.sql.functions import round
roundAvgSalaryDF = avgSalaryDF.select(round("averageSalary").alias("roundedAverageSalary"))
roundAvgSalaryDF.show()

In [0]:
from pyspark.sql.functions import min, max
salaryDF = peopleDF.select(max("salary").alias("max"), min("salary").alias("min"), round(avg("salary")).alias("averageSalary"))
salaryDF.show()

In [0]:
print(peopleDF.count())
peopleDFDistinctNamesDF = peopleDF.select("firstName").distinct()
print(peopleDFDistinctNamesDF.count())
peopleDFDistinctNamesDF.show(1)

In [0]:
print(ssaDF.count())
ssaDFDistinctNamesDF = ssaDF.select("firstName").distinct()
print(ssaDFDistinctNamesDF.count())
ssaDFDistinctNamesDF.show(1)

In [0]:
ssaDFDistinctNamesDF = ssaDF.select("firstName")\
                            .withColumnRenamed("firstName", "ssaFirstName").distinct()
print(ssaDFDistinctNamesDF.count())
ssaDFDistinctNamesDF.show(3)

In [0]:
joinedDF = peopleDFDistinctNamesDF.join(ssaDFDistinctNamesDF, \
                                       peopleDFDistinctNamesDF.firstName == ssaDFDistinctNamesDF.ssaFirstName)
joinedDF.count()

In [0]:
from pyspark.sql.functions import col
joinedDF = peopleDFDistinctNamesDF.join(ssaDFDistinctNamesDF, \
                                       col("firstName") == col("ssaFirstName"))
joinedDF.count()

In [0]:
# upper나 abs 함수의 경우 반드시 col()이 인자로 들어와야 한다
from pyspark.sql.functions import upper
peopleDF.select(upper(col("firstName"))).show(3)

In [0]:
from pyspark.sql.functions import abs
peopleWithFixedSalariesDF = peopleDF.select("firstName", "middleName", \
                                             "lastName", "gender", "birthDate", "ssn", abs(col("salary")).alias("salary"))
peopleDFDistinctNamesDF.count()

In [0]:
peopleWithFixedSalariesDF.show(3)

In [0]:
peopleWithFixedSalariesSortedDF = peopleWithFixedSalariesDF.select("*")\
                                  .orderBy("salary").limit(20)

In [0]:
peopleWithFixedSalariesSortedDF.show(4)

In [0]:
peopleWithSalariesSortedDF = peopleWithFixedSalariesDF.select("*").\
                            orderBy("salary", ascending=False).limit(20).show(4)