In [0]:
peopleDF = spark.read.parquet("/FileStore/tables/people-10m.parquet")
peopleDF.show(5)

In [0]:
peopleDF.select("gender","salary").show(5)

In [0]:
from pyspark.sql.functions import year
peopleDF = peopleDF.select("lastName", "salary", "birthDate").filter("gender = 'M'" and year("birthDate") >= "1990")
peopleDF.show(5)

In [0]:
peopleDF = spark.read.parquet("/FileStore/tables/people-10m.parquet")

In [0]:
peopleDF.groupBy("firstName").count()\
        .orderBy("count", ascending=False)\
        .show(5)

In [0]:
peopleDF.groupBy("middleName").count()\
        .filter("count <= 3000")\
        .orderBy("count")\
        .show(5)