In [18]:
(lambda a : a+10) (5)

15

In [19]:
x = lambda a : a + 10
x(5)

15

In [20]:
x = lambda a, b : a * b
x(5,6)

30

In [21]:
high_ord_func = lambda x, func : x + func(x)
high_ord_func(2, lambda x : x * x)

6

In [22]:
high_ord_func(2, lambda x : x + 3)

7

In [23]:
def square(x) :
    return x * x
high_ord_func(2, square)

6

In [24]:
def add3(x) :
    return x+3
high_ord_func(2, add3)

7

In [25]:
# map 함수 소개
items = [1,2,3,4,5]
squared = []
for i in items :
    squared.append(i**2)
print(squared)

squared = list(map(lambda x : x ** 2, items))
print(squared)

squared = list(map(square, items))
print(squared)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [26]:
def fahrenheit(T) :
    return ((float(9)/5) * T + 32)
def celsius(T) :
    return (float(5)/9) * (T-32)
temperatures = (36.5, 37, 37.5, 38, 39)
F = map(fahrenheit, temperatures)
C = map(celsius, F)

temperatures_in_Fahrenheit = list(map(fahrenheit, temperatures))
temperatures_in_Celsius = list(map(celsius, temperatures))

print(temperatures_in_Fahrenheit)
print(temperatures_in_Celsius)

[97.7, 98.60000000000001, 99.5, 100.4, 102.2]
[2.5, 2.7777777777777777, 3.055555555555556, 3.3333333333333335, 3.8888888888888893]

In [27]:
C = [39.2, 36.5, 37.3, 38, 37.8]
F = list(map(lambda x : (float(9)/5)*x + 32, C))
print(F)

C = list(map(lambda x : (float(5)/9)*(x-32), F))
print(C)

[102.56, 97.7, 99.14, 100.4, 100.03999999999999]
[39.2, 36.5, 37.300000000000004, 38.00000000000001, 37.8]

In [28]:
chars = ['s', 'k', 'k', 'a', 'v']
def change_upper_case(s) :
    return str(s).upper()
map_iterator = map(change_upper_case, chars)
output_list = list(map_iterator)
print(output_list)

['S', 'K', 'K', 'A', 'V']

In [29]:
names = ['krunal', 'ankit', 'rushabh', 'dhaval', 'nehal']
convertedTuple = tuple(map(lambda s : str(s).upper(), names))
print(convertedTuple)

# names = ['krunal', 'ankit', 'rushabh', 'dhaval', 'nehal']
convertedTuple = set(map(lambda s : str(s).upper(), names))
print(convertedTuple)

('KRUNAL', 'ANKIT', 'RUSHABH', 'DHAVAL', 'NEHAL')
{'ANKIT', 'RUSHABH', 'DHAVAL', 'NEHAL', 'KRUNAL'}

In [30]:
a = [1,2,3,4]
b = [17,12,11,10]
c = [-1,-4,5,9]
D = list(map(lambda x, y : x+y, a, b))
E = list(map(lambda x, y, z : x+y+z, a,b,c))
F = list(map(lambda x, y, z : 2.5*x + 2*y - z, a,b,c))
print(D)
print(E)
print(F)

[18, 14, 14, 14]
[17, 10, 19, 23]
[37.5, 33.0, 24.5, 21.0]

In [32]:
a = [1,2,3]
b = [17, 12, 11, 10]
c = [-1,-4,5,9]
print(list(map(lambda x, y, z : 2.5*x + 2*y - z, a, b, c)))

print(pow(3,5))
print(pow(2,10))
print(list(map(pow,[3,2],[5,10])))

[37.5, 33.0, 24.5]
243
1024
[243, 1024]

In [33]:
def multiply(x) :
    return (x*x)
def add (x) :
    return (x+x)

funcs = [multiply, add]
for i in range(5) :
    value = list(map(lambda x : x (i), funcs))
    print(value)

[0, 0]
[1, 2]
[4, 4]
[9, 6]
[16, 8]

In [36]:
dict_a = [{'name' : 'python', 'points' : 10}, {'name' : 'java', 'points' : 8}]
A = map(lambda x : x['name'], dict_a) 
B = map(lambda x : x['points']*10, dict_a)
C = map(lambda x : x['name'] == 'python', dict_a)
print(list(A))
print(list(B))
print(list(C))

['python', 'java']
[100, 80]
[True, False]

In [40]:
# filter 함수 소개

print(list(range(-5,5)))
# list(range(-5,5))

a = filter(lambda x : x < 0, range(-5,5))
print(list(a))

a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]
print(list(filter(lambda x : x in a, b)))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]
[-5, -4, -3, -2, -1]
[2, 3, 5, 7]

In [43]:
ages = [5,12,17,18,24,32]

def myFunc(x) :
    if x < 18 :
        return False
    else :
        return True

adults = filter(myFunc, ages)
print(list(adults))

print(list(filter(lambda x : x >= 18, ages)))

[18, 24, 32]
[18, 24, 32]

In [44]:
# list of alphabets
alphabets = ['a', 'b', 'd', 'e', 'i','j','o']

def filterVowels(alphabet) :
    vowels = ['a','e','i','o','u']
    
    if alphabet in vowels :
        return True
    else :
        return False

filteredVowels = filter(filterVowels, alphabets)

print('The filtered vowels are:')
for vowel in filteredVowels :
    print(vowel)

The filtered vowels are:
a
e
i
o

In [45]:
listOfStr = ['hi', 'this', 'is', 'a','very','simple','string','for','us']

filteredlist = list(filter(lambda x : len(x) == 2, listOfStr))
print(filteredlist)

['hi', 'is', 'us']

In [47]:
strObj = "Hi this is a sample string, a very sample string"
filteredChars = ''.join(filter(lambda x : x not in ['a','s'], strObj))
print("Filtered Characters : ", filteredChars)

array1 = [1,3,4,5,21,33,45,66,77,88,99,5,3,32,55,66,77,22,3,4,5]
array2 = [5,3,66]

filteredArray = list(filter(lambda x : x not in array2, array1))
print('Filtered Array : ', filteredArray)

Filtered Characters :  Hi thi i  mple tring,  very mple tring
Filtered Array :  [1, 4, 21, 33, 45, 77, 88, 99, 32, 55, 77, 22, 4]

In [48]:
# reduce 함수 소개
from functools import reduce
reduce((lambda x , y : x * y), [1,2,3,4])

24

In [49]:
reduce ((lambda x, y : x * y), [1,2,3,4], 100)

2400

In [50]:
lists = [10,6,7,5,2,1,8,5]
s = reduce(lambda x, y : x if (x > y) else y, lists)
print(s)

10

In [51]:
lists = [10,6,7,105,2,1,8,5]
s = reduce(lambda x, y : x if (x > y) else y, lists)
print(s)

105

In [52]:
lists = [10,6,7,105,2,1,8,5]
s = reduce(lambda x, y : x if (x > y) else y, lists, 200)
print(s)

200