In [1]:
peopleDF = spark.read.parquet("D:/김형근4학년2학기/빅데이터시스템(전공)/10주차/과제8/빅데이터시스템_과제8_20142332_김형근/people-10m.parquet")
peopleDF.show(5)

+---+---------+----------+----------+------+-------------------+-----------+------+
| id|firstName|middleName|  lastName|gender|          birthDate|        ssn|salary|
+---+---------+----------+----------+------+-------------------+-----------+------+
|  1|   Pennie|     Carry|Hirschmann|     F|1955-07-02 13:30:00|981-43-9345| 56172|
|  2|       An|     Amira|    Cowper|     F|1992-02-08 14:00:00|978-97-8086| 40203|
|  3|    Quyen|    Marlen|      Dome|     F|1970-10-11 13:00:00|957-57-8246| 53417|
|  4|  Coralie|  Antonina|   Marshal|     F|1990-04-11 13:00:00|963-39-4885| 94727|
|  5|   Terrie|      Wava|     Bonar|     F|1980-01-16 14:00:00|964-49-8051| 79908|
+---+---------+----------+----------+------+-------------------+-----------+------+
only showing top 5 rows

In [2]:
peopleDF.select("gender","salary").show(5)

+------+------+
|gender|salary|
+------+------+
|     F| 56172|
|     F| 40203|
|     F| 53417|
|     F| 94727|
|     F| 79908|
+------+------+
only showing top 5 rows

In [3]:
from pyspark.sql.functions import year
peopleDF = peopleDF.select("lastName", "salary", "birthDate").filter("gender = 'M'" and year("birthDate") >= "1990")
peopleDF.show(5)

+-------------+------+-------------------+
|     lastName|salary|          birthDate|
+-------------+------+-------------------+
|       Cowper| 40203|1992-02-08 14:00:00|
|      Marshal| 94727|1990-04-11 13:00:00|
|Bourthouloume| 64652|1990-11-24 14:00:00|
|     Sadgrove|101046|1990-11-07 14:00:00|
|       Cardon| 60449|1994-05-15 13:00:00|
+-------------+------+-------------------+
only showing top 5 rows

In [6]:
peopleDF = spark.read.parquet("D:/김형근4학년2학기/빅데이터시스템(전공)/10주차/과제8/빅데이터시스템_과제8_20142332_김형근/people-10m.parquet")

In [7]:
peopleDF.groupBy("firstName").count()\
        .orderBy("count", ascending=False)\
        .show(5)

+---------+-----+
|firstName|count|
+---------+-----+
|   Sammie| 5462|
|    Daryl| 5442|
|   Bobbie| 5432|
|      Lee| 5411|
|     Troy| 5408|
+---------+-----+
only showing top 5 rows

In [8]:
peopleDF.groupBy("middleName").count()\
        .filter("count <= 3000")\
        .orderBy("count")\
        .show(5)

+----------+-----+
|middleName|count|
+----------+-----+
|   Bryanna| 1140|
|     Sofia| 1154|
|   Raylene| 1157|
|   Leonila| 1157|
| Ernestine| 1159|
+----------+-----+
only showing top 5 rows